.global-shapers {
    background-color: #004F2D;
    color: white;
    width: 100%;

    &>.container {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &>.comunidade-gs {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 6rem;
            width: 100%;

            &>h5 {
                width: fit-content;
                background-color: whitesmoke;
                padding: .3rem .5rem;
                border-radius: 5px;
                color: #05381C;
                margin-bottom: .5rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 400;
            }

            &>h2 {
                font-size: 2.5rem;
                text-align: center;
                margin-bottom: 1rem;
            }

            &>.container-comunidade {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                justify-content: space-between;
                padding: 2rem 0;

                &>.conteudo {
                    display: flex;
                    flex-direction: column;
                    width: 40%;

                    &>h3 {
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                    }

                    &>p {
                        font-size: 1.2rem;
                        margin-bottom: 1rem;
                        color: rgba(255, 255, 255, 0.959);
                    }

                    &>.conteudo-dados {
                        display: flex;
                        justify-content: space-between;


                        &>div {
                            border-radius: 100%;
                            width: 120px;
                            height: 120px;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;
                            background-color: #04642E;

                            &>:first-child {
                                font-size: 1.5rem;
                                font-weight: bold;
                            }

                            &>:last-child {
                                font-size: 1rem;
                            }
                        }
                    }
                }

                .map-container {
                    position: relative;
                    display: inline-block;
                }

                .map {
                    width: 100%;
                    display: block;
                }

                .map-popup {
                    position: absolute;
                    top: 50px;
                    right: 10px;
                    background: #fff;
                    padding: 12px 16px;
                    border-radius: 8px;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                    max-width: 220px;
                }

                .map-popup h3 {
                    margin: 0;
                    font-size: 1.3rem;
                    color: #2C5C58;
                }

                .map-popup p {
                    font-size: 14px;
                    margin: 8px 0;
                    color: #333;
                }

                .saiba-mais {
                    display: inline-block;
                    margin-top: 6px;
                    color: #33a517;
                    font-size: 1rem;
                    text-decoration: none;
                }

                .saiba-mais:hover {
                    text-decoration: underline;
                }



            }
        }

    }

    .container-projetos {
        width: 100%;
        overflow: hidden;
        max-width: 100%;
        cursor: grab;
        padding: 3rem 0;



        .swiper-button-next::after,
        .swiper-button-prev::after {
            color: rgb(19, 85, 39);
            font-size: 3rem;
            font-weight: bold;
            background-color: rgba(179, 179, 179, 0.719);
            padding: 1rem;
            border-radius: 0 10px 0 10px;
        }




    }

    .swiper {
        background-color: var(--azul-preto);

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }



    .swiper-slide {
        transition: 0.5s;
        width: 280px !important;
        margin: 0;
        padding: 0;
        gap: 0;

    }

    .card-projeto {
        background: rgba(255, 255, 255, 0);
        border-radius: 10px;
        color: rgb(254, 255, 254);
        width: 280px;
        text-align: left;
        overflow: hidden;

        &>img {

            width: 100%;
            height: 100%;
        }

        &>p {
            font-size: .9rem;
            opacity: .9;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}



@media (max-width: 900px) {
    .global-shapers {
        &>.container {
            padding: 1rem;

            &>.comunidade-gs {
                padding: 2rem 1rem;

                &>.container-comunidade {
                    display: flex;
                    flex-direction: column;

                    &>.conteudo {
                        width: 100%;

                        &>.conteudo-dados {
                            &>div {
                                width: 90px;
                                height: 90px;
                            }
                        }
                    }

                    &>img {
                        width: 100%;
                        padding: 1rem 0;
                    }
                }
            }

        }

    }
}

@media (max-width: 650px) {
    .global-shapers {
        &>.container {
            padding: 1rem;

            &>.comunidade-gs {
                padding: 2rem 1rem;

                &>.container-comunidade {
                    .map {
                        margin-top: 4rem;
                    }

                    .map-popup h3 {
                        font-size: 1rem;
                    }

                    .map-popup {
                        max-width: 160px;
                        top: 10px;
                        right: 10px;

                        
                    }
                }
            }

        }

    }
}


@media (max-width: 650px) {
    .global-shapers {
        &>.container {
            &>.comunidade-gs {
           
                &>.container-comunidade {

                    .map-popup h3 {
                        font-size: 1rem;
                    }

                

                    .map-popup {
                        max-width: 160px;
                        top: 80px;
                        right: 20px;

                        & > p {
                            display: none;
                        }
                    }
                }
            }

        }

    }
}