.header {
  background-color: #04642E;
  width: 100%;

  &>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4rem;
    color: white;
    max-width: 1280px;
    margin: 0 auto;
  }
}

.header__logo img {
  height: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  gap: 2rem;
  padding: 0;
}

.header__nav li {
  &>a {
    display: inline-block;
    color: rgba(247, 255, 247, 0.932);
    text-decoration: none;
    transition: .5s;

    &:hover {
      color: #ffffff;
      transform: translateY(-3px);

    }
  }
}



.btn-cta {
  background-color: #005826;
  border: 1px solid rgba(255, 255, 255, 0.459);
  color: white;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
  font-size: 0.9rem;
}

.btn-cta:hover {
  background-color: white;
  color: #005826;
}