.header {
  background-color: #04642E;
  width: 100%;

  &>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4rem;
    color: white;
    max-width: 1280px;
    margin: 0 auto;
  }
}

.header__logo img {
  height: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  gap: 2rem;
  padding: 0;
}

.header__nav li {
  &>a {
    display: inline-block;
    color: rgba(247, 255, 247, 0.932);
    text-decoration: none;
    transition: .5s;

    &:hover {
      color: #ffffff;
      transform: translateY(-3px);

    }
  }
}

.langs {
  display: flex;
}

.langs-mobile {
  display: none;
}

.lang-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #fff;
  border: 2px solid #2C5C58;
  color: #2C5C58;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: thin;
  transition: all 0.3s ease;
}

.lang-btn:hover {
  background: #0f5a37dc;
  color: #fff;
}

.flag-icon {
  width: 30px;
  height: 20px;
  border-radius: 3px;
  /* deixa cantos arredondados */
}


.btn-cta {
  background-color: #005826;
  border: 1px solid rgba(255, 255, 255, 0.459);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
  font-size: 0.9rem;
}

.btn-cta:hover {
  background-color: white;
  color: #005826;
}

@media (max-width: 868px) {
  .header {

    &>.container {
      padding: 1rem;
    }

    .header__nav {
      & li {
        display: none;
      }

      & .cop30 {
        display: block;
      }

      & .sobre-nos-header {
        display: block;
      }
    }
  }
}

@media (max-width: 700px) {
  .langs {
    display: none;


  }

  .flag-icon {
    width: 40px;
    height: auto;
  }

  .lang-btn {
    padding: 0;
    color: rgba(245, 245, 245, 0);
  }

  .langs-mobile {
    display: block;
    display: flex;
    gap: 5px;
  }
}

@media (max-width: 500px) {
  .header {



    .header__nav {
      & li {
        display: none;
      }

      & .cop30 {
        display: none;
      }

      & .sobre-nos-header {
        display: none;
      }
    }
  }
}